<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="/css/bob.css"/>
    <link rel="stylesheet" href="/css/reset.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet"/>
    <title>Bob Works</title>
    <script>
        function cancelConsent() {
            document.consent_form.reset();
            document.consent_form.submit();
        }
    </script>
</head>
<body>
<div class="container">
    <!-- title -->
    <div class="title">
        <h1 class="text-center text-primary">Sign in With Bob Works</h1>
    </div>

    <!-- sub-title -->
    <div class="sub-title">
        <div class="col text-center">
            <p>
                이 App 인 <span class="font-weight-bold text-primary" th:text="${clientName}"></span> 이(가)
                <br/>
                귀하의 계정인 <span class="font-weight-bold" th:text="${principalName}"></span> 에 접근하려고 합니다.
            </p>
        </div>
    </div>

    <!-- content1 -->
    <div class="content1">
        <div class="col text-center">
            <p>
                이 앱에서 다음과 같은 권한을 요청합니다. 이를 검토하고 승인하는 경우 동의하십시오.
            </p>
        </div>
    </div>

    <!-- content2 -->
    <div class="content2">
        <div class="col text-center">
            <form name="consent_form" method="post" action="/oauth2/authorize">
                <input type="hidden" name="client_id" th:value="${clientId}"/>
                <input type="hidden" name="state" th:value="${state}"/>

                <div class="check-box">
                    <table>
                        <thead>
                        <tr>
                            <th style="width: 20px"></th>
                            <th style="width: 100px"></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="scope: ${checkableScopes}" style="padding-bottom: 15px;">
                            <td>
                                <input type="checkbox" name="scope" th:value="${scope.scope}" th:id="${scope.scope}"/>
                            </td>
                            <td>
                                <label th:for="${scope.scope}" th:text="${scope.scope}"></label>
                            </td>
                            <td>
                                <span class="text-primary" th:text="${scope.description}"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <p class="already" th:if="${not #lists.isEmpty(prevScopes)}">
                    이 App 에서는 다음과 같은 권한을 이미 허용하였습니다.
                </p>

                <div class="check-box">
                    <table>
                        <thead>
                        <tr>
                            <th style="width: 20px"></th>
                            <th style="width: 100px"></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="scope: ${prevScopes}" style="padding-bottom: 15px;">
                            <td>
                                <input type="checkbox" name="scope" th:value="${scope.scope}" th:id="${scope.scope}" checked disabled/>
                            </td>
                            <td>
                                <label th:for="${scope.scope}" th:text="${scope.scope}"></label>
                            </td>
                            <td>
                                <span class="text-primary" th:text="${scope.description}"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="btn-group">
                    <div class="form-group">
                        <button class="disagree-btn btn" type="button" id="cancel-consent" onclick="cancelConsent();">
                            취소
                        </button>
                    </div>
                    <div class="form-group pt-3">
                        <button class="agree-btn btn" type="submit" id="submit-consent">
                            동의
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- warning -->
    <div class="warning">
        <div class="col text-center">
            <p>
                <small>
                    Your consent to provide access is required.
                    <br/>
                    If you do not approve, click Cancel, in which case no information will be shared with the app.
                </small>
            </p>
        </div>
    </div>
</div>
</body>
</html>
